<!DOCTYPE html>
<html lang="en">
<body style="color: white; background-color: black ">
 <form action = "http://localhost:5000/kart" method = "post">
         <table style="border: 1px solid cyan">
        <tr><td style="border: 1px solid cyan">Item Name</td>
        <td style="border: 1px solid cyan"><input style="background: cyan; outline:none; border:none" type ="text" name ="name"></td></tr>
        <tr><td style="border: 1px solid cyan">Item ID</td>
        <td style="border: 1px solid cyan"><input style="background: cyan; outline:none; border:none" type ="text" name ="id"></td></tr>
        <tr><td style="border: 1px solid cyan">Quantity</td>
        <td style="border: 1px solid cyan"><input style="background: cyan; outline:none; border:none" type ="text" name ="quantity"></td></tr>
        <tr><td style="border: 1px solid cyan">Price</td>
        <td style="border: 1px solid cyan"><input style="background: cyan; outline:none; border:none" type ="text" name ="price"></td></tr>
        <tr><td style="border: 1px solid cyan"><input style="background: cyan; " type = "submit"></td></tr>
    </table>
      </form>
</body>
</html>
